@import url('https://rsms.me/inter/inter.css');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}

a {
  color: inherit;
  text-decoration: underline;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

input:focus {
  outline: none;
}